<?xml version='1.0' encoding='utf-8'?>
<widget id="com.google.android.gms.example.bannerexample" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AdmobBasicExample</name>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="AdMobPlusWebViewAd" value="true" />
        <preference name="android-targetSdkVersion" value="33" />
        <preference name="AndroidXEnabled" value="true" />
        <preference name="GradlePluginKotlinEnabled" value="true" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="deployment-target" value="11.0" />
        <preference name="SwiftVersion" value="5.3" />
    </platform>
    <plugin name="admob-plus-cordova" spec="../../packages/cordova">
        <variable name="APP_ID_ANDROID" value="ca-app-pub-3940256099942544~3347511713" />
        <variable name="APP_ID_IOS" value="ca-app-pub-3940256099942544~1458002511" />
    </plugin>
    <plugin name="admob-plus-cordova-native" spec="../../packages/cordova-native" />
    <engine name="ios" spec="6.2.0" />
    <engine name="android" spec="9.1.0" />
    <engine name="browser" spec="6.0.0" />
</widget>
