<?xml version='1.0' encoding='utf-8'?>
<widget id="example.consent" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ConsentExample</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="deployment-target" value="11.0" />
        <preference name="SwiftVersion" value="5.3" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1.3.4" />
    <plugin name="admob-plus-cordova" spec="../../packages/cordova">
        <variable name="APP_ID_ANDROID" value="ca-app-pub-3940256099942544~3347511713" />
        <variable name="APP_ID_IOS" value="ca-app-pub-3940256099942544~1458002511" />
    </plugin>
    <plugin name="cordova-plugin-consent" spec="../../packages/cordova-consent" />
    <engine name="ios" spec="6.1.1" />
    <engine name="android" spec="9.0.0" />
</widget>
