<?xml version='1.0' encoding='utf-8'?>
<widget id="example.playground" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Playground</name>
    <description>AdMob Plus Playground</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="GradlePluginKotlinEnabled" value="true" />
    </platform>
    <platform name="ios">
        <preference name="scheme" value="app" />
        <preference name="hostname" value="localhost" />
        <preference name="SwiftVersion" value="5.9.2" />
        <preference name="deployment-target" value="12.0" />
    </platform>
</widget>
